* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}


.container h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

.main-section {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
  flex-wrap: wrap;
}


.view-cart-panel {
  width: 250px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.view-cart-btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #8785f0;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.view-cart-btn:hover {
  background-color: #0056b3;
}

.product-panel {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: left;
  margin-bottom: 20px;
}

.header h2 {
  font-size: 24px;
  color: #444;
}

.product-list {
  list-style: none;
}

.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 15px 0;
}

.product-item button {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.product-item button:hover {
  background-color: #218838;
}


.cart-page {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.cart-page h3 {
  margin-top: 20px;
  font-size: 22px;
  color: #333;
  text-align: center;
}

.cart-page button {
    margin-top: 20px;
    padding: 10px 16px;
    font-size: 16px;
    background-color: #007bff;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 6px;
}

.cart-page button:hover {
    background-color: #0056b3;
}


.view-cart-panel .cart-count {
    padding: 10px 10px;
    font-size: 14px;
}